In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [4]:
ds = pd.read_csv('./titanic.csv')
tds = pd.read_csv('./test.csv')
print ds.columns
print tds.columns
ds.head(n=10)

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')
Index([u'PassengerId', u'Pclass', u'Name', u'Sex', u'Age', u'SibSp', u'Parch',
       u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [9]:
mean_Age = ds['Age'].mean()
ds['Age'] = ds['Age'].fillna(int(mean_Age))

test_mean_Age = tds['Age'].mean()
tds['Age'] = tds['Age'].fillna(int(test_mean_Age))

sex_mapping = {
    'male': 0,
    'female': 1
}

sex = ds['Sex'].values
Sex = tds['Sex'].values
print sex.shape
print Sex.shape
quant_sex = np.zeros(sex.shape)
test_quant_sex = np.zeros(Sex.shape)

for ix in range(quant_sex.shape[0]):
    quant_sex[ix] = sex_mapping[sex[ix]]

for ix in range(test_quant_sex.shape[0]):
    test_quant_sex[ix] = sex_mapping[Sex[ix]]
#print quant_sex
#print test_quant_sex

(891,)
(418,)
[ 0.  1.  1.  1.  0.  0.  0.  0.  1.  1.  1.  1.  0.  0.  1.  1.  0.  0.
  1.  1.  0.  0.  1.  0.  1.  1.  0.  0.  1.  0.  0.  1.  1.  0.  0.  0.
  0.  0.  1.  1.  1.  1.  0.  1.  1.  0.  0.  1.  0.  1.  0.  0.  1.  1.
  0.  0.  1.  0.  1.  0.  0.  1.  0.  0.  0.  0.  1.  0.  1.  0.  0.  1.
  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.  1.  0.  1.  1.  0.  0.  1.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  1.  0.  0.  0.  0.  0.  1.  0.
  0.  1.  0.  1.  0.  1.  1.  0.  0.  0.  0.  1.  0.  0.  0.  1.  0.  0.
  0.  0.  1.  0.  0.  0.  1.  1.  0.  0.  1.  0.  0.  0.  1.  1.  1.  0.
  0.  0.  0.  1.  0.  0.  0.  1.  0.  0.  0.  0.  1.  0.  0.  0.  0.  1.
  0.  0.  0.  0.  1.  1.  0.  0.  0.  0.  1.  0.  0.  0.  0.  1.  0.  0.
  1.  0.  0.  0.  1.  0.  1.  0.  0.  0.  1.  0.  1.  0.  1.  1.  0.  0.
  1.  1.  0.  0.  0.  0.  0.  1.  0.  0.  1.  0.  0.  1.  0.  0.  0.  1.
  1.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  1.  0.  0.  1.
  0.  1.  0.  1.  0.  0.  1.  1.  0.  0.  0.  0.  1.  1.  0.  0.  0.  1.
  0.  0.  1.  1.  1.  1.  1.  1.  0.  0.  0.  0.  1.  0.  0.  0.  1.  1.
  0.  0.  1.  0.  1.  1.  1.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  1.  1.  1.  0.  1.  0.  0.  0.  1.  0.  1.  1.  0.  0.  1.  0.  0.
  1.  1.  0.  1.  1.  1.  1.  0.  0.  1.  1.  0.  1.  1.  0.  0.  1.  1.
  0.  1.  0.  1.  1.  1.  1.  0.  0.  0.  1.  0.  0.  1.  0.  0.  0.  1.
  0.  0.  0.  1.  1.  1.  0.  0.  0.  0.  0.  0.  0.  0.  1.  1.  1.  1.
  0.  0.  1.  0.  0.  0.  1.  1.  1.  1.  0.  0.  0.  0.  1.  1.  1.  0.
  0.  0.  1.  1.  0.  1.  0.  0.  0.  1.  0.  1.  0.  0.  0.  1.  1.  0.
  1.  0.  0.  1.  0.  0.  1.  0.  1.  0.  0.  0.  0.  1.  0.  0.  1.  0.
  0.  1.  1.  1.  0.  1.  0.  0.  0.  1.  0.  0.  1.  1.  0.  0.  0.  1.
  1.  0.  0.  1.  1.  1.  0.  0.  1.  0.  0.  1.  0.  0.  1.  0.  1.  0.
  0.  0.  0.  0.  0.  0.  0.  1.  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  1.  0.  0.  1.  1.  1.  0.  0.  0.  0.  1.  0.  0.  0.  1.  0.  1.
  1.  0.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  1.  0.  0.  1.  1.  1.
  1.  0.  1.  0.  0.  0.  0.  0.  0.  1.  0.  0.  1.  0.  1.  0.  1.  0.
  0.  1.  0.  0.  1.  0.  0.  0.  1.  0.  0.  1.  1.  1.  0.  1.  0.  1.
  1.  1.  1.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  1.  0.  1.  0.
  1.  1.  0.  0.  0.  0.  1.  0.  0.  1.  0.  0.  0.  1.  0.  1.  0.  0.
  1.  1.  1.  0.  1.  1.  0.  0.  0.  1.  0.  0.  0.  0.  0.  1.  0.  1.
  0.  0.  1.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  1.  1.  1.  0.
  1.  0.  0.  1.  0.  1.  1.  0.  0.  0.  0.  0.  0.  0.  0.  1.  0.  0.
  0.  0.  0.  0.  1.  1.  0.  0.  1.  0.  0.  1.  1.  0.  1.  0.  0.  0.
  0.  1.  0.  1.  0.  1.  1.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  1.  1.  0.  0.  0.  0.  0.  0.  1.  1.  0.  1.  0.  0.  0.
  0.  0.  0.  0.  0.  1.  0.  1.  0.  0.  0.  0.  0.  1.  0.  0.  1.  0.
  1.  0.  0.  0.  1.  0.  1.  0.  1.  0.  0.  0.  0.  0.  1.  1.  0.  0.
  1.  0.  0.  0.  0.  0.  1.  1.  0.  1.  1.  0.  0.  0.  0.  0.  1.  0.
  0.  0.  0.  0.  1.  0.  0.  0.  0.  1.  0.  0.  1.  0.  0.  0.  1.  0.
  0.  0.  0.  1.  0.  0.  0.  1.  0.  1.  0.  1.  0.  0.  0.  0.  1.  0.
  1.  0.  0.  1.  0.  1.  1.  1.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.
  1.  0.  0.  0.  1.  1.  0.  1.  0.  1.  0.  0.  0.  0.  0.  1.  0.  1.
  0.  0.  0.  1.  0.  0.  1.  0.  0.  0.  1.  0.  0.  1.  0.  0.  0.  0.
  0.  1.  1.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.
  0.  0.  0.  1.  0.  0.  1.  1.  1.  1.  1.  0.  1.  0.  0.  0.  1.  1.
  0.  1.  1.  0.  0.  0.  0.  1.  0.  0.  1.  1.  0.  0.  0.  1.  1.  0.
  1.  0.  0.  1.  0.  1.  1.  0.  0.]
[ 0.  1.  0.  0.  1.  0.  1.  0.  1.  0.  0.  0.  1.  0.  1.  1.  0.  0.
  1.  1.  0.  0.  1.  0.  1.  0.  1.  0.  0.  0.  0.  0.  1.  1.  0.  0.
  1.  1.  0.  0.  0.  0.  0.  1.  1.  0.  0.  0.  1.  1.  0.  0.  1.  1.
  0.  0.  0.  0.  0.  1.  0.  0.  0.  1.  0.  1.  1.  0.  0.  1.  1.  0.
  1.  0.  1.  0.  0.  1.  0.  1.  0.  0.  0.  0.  0.  0.  1.  1.  1.  0.
  1.  0.  1.  0.  0.  0.  1.  0.  1.  0.  1.  0.  0.  0.  1.  0.  0.  0.
  0.  0.  0.  1.  1.  1.  1.  0.  0.  1.  0.  1.  1.  0.  1.  0.  0.  1.
  0.  1.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  1.  0.  1.  1.  0.  0.
  0.  0.  0.  0.  0.  0.  1.  0.  0.  1.  0.  0.  1.  1.  0.  1.  1.  0.
  1.  0.  0.  1.  0.  0.  1.  1.  0.  0.  0.  0.  0.  1.  1.  0.  1.  1.
  0.  0.  1.  0.  1.  0.  1.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.  1.
  0.  1.  1.  0.  0.  1.  0.  0.  1.  0.  1.  0.  0.  0.  0.  1.  1.  0.
  1.  0.  1.  0.  1.  0.  1.  0.  1.  1.  0.  1.  0.  0.  0.  1.  0.  0.
  0.  0.  0.  0.  1.  1.  1.  1.  0.  0.  0.  0.  1.  0.  1.  1.  1.  0.
  0.  0.  0.  0.  0.  0.  1.  0.  0.  0.  1.  1.  0.  0.  0.  0.  1.  0.
  0.  0.  1.  1.  0.  1.  0.  0.  0.  0.  1.  0.  1.  1.  1.  0.  0.  0.
  0.  0.  0.  1.  0.  0.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  1.  1.
  0.  0.  0.  1.  0.  0.  0.  1.  1.  1.  0.  0.  0.  0.  0.  0.  0.  0.
  1.  0.  1.  0.  0.  0.  1.  0.  0.  1.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  1.  0.  1.  0.  1.  0.  1.  1.  0.  0.  0.  1.  0.  1.  0.  0.  1.
  0.  1.  1.  0.  1.  1.  0.  1.  1.  0.  0.  1.  0.  0.  1.  1.  1.  0.
  0.  0.  0.  0.  1.  1.  0.  1.  0.  0.  0.  0.  0.  1.  0.  0.  0.  1.
  0.  1.  0.  0.  1.  0.  1.  0.  0.  0.  0.  0.  1.  1.  1.  1.  1.  0.
  1.  0.  0.  0.]

In [13]:
data = np.asarray([ds['Age'], ds['Pclass'], ds['SibSp'],
        ds['Parch'], ds['Fare'], quant_sex,
        ds['Survived']]).astype("float").T
Y = ds['Survived'].values
cols = ['Age', 'Pclass', 'SibSp', 'Parch', 'Fare', 'Sex', 'Survived']
print data[0]
# ds.head(n=1)

test_data = np.array([tds['Age'], tds['Pclass'], tds['SibSp'],
        tds['Parch'], tds['Fare'], test_quant_sex]).astype("float").T
cols = ['Age', 'Pclass', 'SibSp', 'Parch', 'Fare', 'Sex']
print test_data[0]

[ 22.     3.     1.     0.     7.25   0.     0.  ]
[ 34.5      3.       0.       0.       7.8292   0.    ]

In [14]:
def data_split(dataset, col_id, value):
    data_right = []
    data_left = []
    
    # send greater values to right and smaller or equal to left
    for ix in range(dataset.shape[0]):
        if dataset[ix, col_id] <= value:
            data_left.append(dataset[ix, :])
        else:
            data_right.append(dataset[ix, :])
    return np.asarray(data_right), np.asarray(data_left)

In [15]:
def entropy(dataset, col=-1):
    if dataset.shape[0] == 0:
        return 0
    p = dataset[:, col].mean()
    if p == 1 or p == 0:
        return 0.0
    ent = (-1.0 * p * np.log2(p)) + (-1.0 * (1.0 - p) * np.log2(1.0 - p))
    return ent
    
def information_gain(parent_set, child_1, child_2):
    # print parent_set.shape, child_1.shape, child_2.shape
    ent_p = entropy(parent_set)
    ent_c1 = entropy(child_1)
    ent_c2 = entropy(child_2)
    
    f = float(child_1.shape[0])/parent_set.shape[0]
    Ig = ent_p - (f*ent_c1 + (1-f)*ent_c2)
    return Ig

In [16]:
INF = 100000
class DT:
    def __init__(self, depth=0, max_depth=10):
        self.left = None
        self.right = None
        self.col_id = None
        self.value = None
        self.depth = depth
        self.max_depth = max_depth
        self.n_survival = None
        self.n_death = None
    
    def get_best_gain(self, dataset):
        
        n_cols = 6 # number of columns in data
        all_gains = []
        
        self.n_survival = dataset[:, -1].sum()
        self.n_death = dataset.shape[0] - self.n_survival
        
        for cx in range(n_cols):
            mean_val_cx = dataset[:, cx].mean()
            right, left = data_split(dataset, cx, mean_val_cx)
            
            total_gain = information_gain(dataset, right, left)
            all_gains.append(total_gain)
            
        self.col_id = np.asarray(all_gains).argmax()
        self.value = dataset[:, self.col_id].mean()
        
        data_right, data_left = data_split(dataset, self.col_id, self.value)
        
        if data_left.shape[0] > 0 and self.depth < self.max_depth:
            self.left = DT(depth=self.depth+1, max_depth=self.max_depth)
            self.left.get_best_gain(data_left)
            
        if data_right.shape[0] > 0 and self.depth < self.max_depth:
            self.right = DT(depth=self.depth+1, max_depth=self.max_depth)
            self.right.get_best_gain(data_right)
        return
    
    def predict(self, example):
        exp_val = example[self.col_id]
        # print self.n_survival, self.n_death, self.depth
        # print self.col_id, exp_val, self.value, '-------------'
        if exp_val <= self.value:
            if not self.left == None:
                # print 'going left'
                return self.left.predict(example)
            else:
                # print 'end left'
                return self.decide()
        else:
            if not self.right == None:
                # print 'going right'
                return self.right.predict(example)
            else:
                # print 'end right'
                return self.decide()
    
    def decide(self):
        # print self.depth
        if self.n_survival >= self.n_death:
            return 1
        else:
            return 0

In [34]:
X_train = data[:, :]
y_test = test_data[:, :]

y_pred = np.zeros(y_test.shape[0])
print y_pred.shape
dt = DT(max_depth=6)
dt.get_best_gain(X_train)

for rx in range(y_test.shape[0]):
    y_pred[rx] = dt.predict(y_test[rx, :])

y_pred = y_pred.astype("int", copy= False)
    
print y_pred.shape

(418,)
(418,)

In [36]:
#d = np.zeros((y_pred, ))
d= pd.DataFrame({'PassengerId': tds['PassengerId'] , 'Survived': y_pred})
print d
d.to_csv('test_results.csv', header=True)

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         0
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         1
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         1
391         1283         1
392         1284         1
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         1
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         0
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]